:root {
  --bg: #1e202a;
  --topBgPattern: #1e202a;
  --cardBg: #252a41;
  --desaturatedText: #8b97c6;
  --text: #fff;
}
html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.4rem;
  background-color: var(--bg);
  color: var(--text);
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
#theme-switcher {
  margin-bottom: 10px;
}
.lbl {
  display: inline-block;
  width: 50px;
  height: 25px;
  background: linear-gradient(to left, #3eda82, #378fe6);
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.lbl::after {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: var(--cardBg);
  border-radius: 100px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 0.3s;
}
#switch:checked + .lbl::after {
  left: 26px;
}
#switch:checked + .lbl {
  background: #939abd;
}
#switch {
  display: none;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 0 4%;
}
.header__top {
  padding: 30px 0;
}
.header__top__title {
  margin: 0;
}
.header__top__text {
  margin: 0;
  color: var(--desaturatedText);
  font-weight: 700;
}
.header__bottom {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--desaturatedText);
}
.header__bottom__text {
  font-weight: 700;
}
.main-cards {
  display: grid;
  grid-template-columns: 1fr;
  width: 93%;
  margin: 30px auto;
  max-width: 320px;
}
.main-cards__item {
  background-color: var(--cardBg);
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
}
.main-cards__item.facebook {
  border-top: 4px solid #198ff5;
}
.main-cards__item.twitter {
  border-top: 4px solid #1ca0f2;
}
.main-cards__item.youtube {
  border-top: 4px solid #c4032a;
}
.main-cards__item.instagram > .gradient {
  height: 4px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(to left, #df4996, #fdc468);
}
.main-cards__item__figure {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main-cards__item__figure img {
  height: 20px;
  margin-right: 10px;
}
.main-cards__item__figure p {
  font-weight: 700;
  color: var(--desaturatedText);
}
.main-cards__item__number {
  font-weight: 700;
  margin: 0;
  font-size: 6rem;
}
.main-cards__item__followers {
  text-transform: uppercase;
  color: var(--desaturatedText);
  letter-spacing: 5px;
}
.main-cards__item__figure--status {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #1db489;
}
.main-cards__item__figure--status img {
  height: 5px;
  margin-right: 5px;
}
.main-cards__item__figure--status.red {
  color: #dc414c;
}
@media screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__bottom {
    border-top: none;
  }
  .header__bottom__text {
    margin-right: 20px;
  }
}
@media screen and (min-width: 750px) {
  .main-cards {
    grid-template-columns: 1fr 1fr;
    max-width: 660px;
  }
}
@media screen and (min-width: 1400px) {
  .main-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1320px;
  }
}
