:root {
  --bg: #1e202a;
  --topBgPattern: #1e202a;
  --cardBg: #252a41;
  --desaturatedText: #8b97c6;
  --text: #fff;
}
#x1 {
  background-color: var(--bg);
}
#x2 {
  background-color: var(--topBgPattern);
}
#x3 {
  background-color: var(--cardBg);
}
#x4 {
  background-color: var(--desaturatedText);
}
#x5 {
  background-color: var(--text);
}
#theme-switcher {
  margin-bottom: 10px;
}
.lbl {
  display: inline-block;
  width: 65px;
  height: 33px;
  background: #939abd;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.lbl::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 0.3s;
}
#switch:checked + .lbl::after {
  left: 36px;
}
#switch:checked + .lbl {
  background: linear-gradient(to left, #3eda82, #378fe6);
}
#switch {
  display: none;
}
