LimeGreen = #1db489
BrightRed = #dc414c
Facebook = #198ff5
Twitter = #1ca0f2
Instagram = linear-gradient(#df4996,#fdc468)
YouTube = #c4032a

DarkToggle = linear-gradient(#3eda82,#378fe6)
LightToggle = #939abd

BG = var(--bg)
TopBgPattern = var(--topBgPattern)
CardBg = var(--cardBg)
DesaturatedText = var(--desaturatedText)
Text = var(--text)
