BG = var(--bg)
TopBgPattern = var(--topBgPattern)
CardBg = var(--cardBg)
DesaturatedText = var(--desaturatedText)
Text = var(--text)

LimeGreen = #1db489
BrightRed = #dc414c
Facebook = #198ff5
Twitter = #1ca0f2
Instagram = linear-gradient(to left, #df4996,#fdc468)
Youtube = #c4032a

DarkToggle = linear-gradient(to left,#3eda82,#378fe6)
LightToggle = #939abd

FF = 'Inter', sans-serif
FWNormal = 400
FWBold = 700

GrowthPercentage()
	display flex
	align-items center
	font-weight FWBold
	color LimeGreen
	img
		height 5px
		margin-right 5px
	&.down
		color BrightRed