@import './_tokens.styl'

:root
	--bg #1e202a
	--topBgPattern #1e202a
	--cardBg #252a41
	--desaturatedText #8b97c6
	--text #ffffff

html
	box-sizing border-box
	font-family FF
	font-size 62.5%
	scroll-behavior smooth

*,*:before,*:after
	box-sizing inherit

body
	margin 0
	overflow-x hidden
	font-size 1.4rem
	background-color BG
	color Text

img
	max-width 100%
	height auto
figure
	margin 0

#theme-switcher
	margin-bottom 10px

.lbl
	display inline-block
	width 50px
	height 25px
	background DarkToggle
	border-radius 100px
	cursor pointer
	position relative
	transition .3s

.lbl::after
	content ''
	display block
	width 19px
	height 19px
	background CardBg
	border-radius 100px
	position absolute
	top 3px
	left 4px
	transition .3s

#switch:checked + .lbl::after
	left 26px

#switch:checked + .lbl
	background LightToggle

#switch
	display none

.header
	display flex
	flex-direction column
	padding 0 4%
	&__top
		padding 30px 0
		&__title
			margin 0
		&__text
			margin 0
			color DesaturatedText
			font-weight FWBold
	&__bottom
		padding 10px 0
		display flex
		justify-content space-between
		align-items center
		border-top 1px solid DesaturatedText
		&__text
			font-weight FWBold

.main-cards
	display grid
	grid-template-columns 1fr
	width 93%
	margin 30px auto
	max-width 320px
	&__item
		background-color CardBg
		margin 10px 0
		border-radius 4px
		display flex
		flex-direction column
		align-items center
		width 100%
		max-width 320px
		&.facebook
			border-top 4px solid Facebook
		&.twitter
			border-top 4px solid Twitter
		&.youtube
			border-top 4px solid Youtube
		&.instagram > .gradient
			height 4px
			width 100%
			border-radius 4px 4px 0px 0px
			background Instagram
		&__figure
			display flex
			align-items center
			margin-top 20px
			img
				height 20px
				margin-right 10px
			p
				font-weight FWBold
				color DesaturatedText
		&__number
			font-weight FWBold
			margin 0
			font-size 6rem
		&__followers
			text-transform uppercase
			color DesaturatedText
			letter-spacing 5px
		&__figure--status
			GrowthPercentage()

.title-container
	width 93%
	margin 30px auto
	max-width 320px

.stats-cards
	display grid
	grid-template-columns 1fr
	width 93%
	margin 30px auto
	max-width 320px
	&__item
		background-color CardBg
		padding 20px 20px
		margin 10px 0
		border-radius 4px
		&__top
			display flex
			align-items center
			justify-content space-between
			color DesaturatedText
			font-weight FWBold
			img
				height 25px
		&__bottom
			display flex
			justify-content space-between
			align-items center
			& > p
				font-size 3rem
				margin 0
				font-weight FWBold
			&__figure
				GrowthPercentage()


@media screen and (min-width 600px)
	.header
		flex-direction row
		justify-content space-between
		&__bottom
			border-top none
			&__text
				margin-right 20px

@media screen and (min-width 750px)
	.main-cards
		grid-template-columns 1fr 1fr
		max-width 660px

@media screen and (min-width 1400px)
	.main-cards
		grid-template-columns 1fr 1fr 1fr 1fr
		max-width 1320px