@import './_tokens.styl'

:root
	--bg #1e202a
	--topBgPattern #1e202a
	--cardBg #252a41
	--desaturatedText #8b97c6
	--text #ffffff

#x1
	background-color BG
#x2
	background-color TopBgPattern
#x3
	background-color CardBg
#x4
	background-color DesaturatedText
#x5
	background-color Text